// Votre couleur primaire précédente
$primary: #524ac7;

// Nouvelles couleurs pour le thème sombre
$dark-background: #28294b;
$lighter-background: #414a6b;
$primary-color: #5a668a;
$secondary-color: #756980;
$text-color: #8d7e87;
$secondary-text-color: #f9f4f2;